<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="brWheelProfile.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <brWheelProfile.Properties.Settings>
            <setting name="Rotation" serializeAs="String">
                <value>900</value>
            </setting>
            <setting name="Gain" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Constant" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Friction" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Inertia" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Damper" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Spring" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Sine" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Desktop" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Stop" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Minimal" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="Maximum" serializeAs="String">
                <value>400</value>
            </setting>
        </brWheelProfile.Properties.Settings>
    </userSettings>
</configuration>